.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    background-color: var(--color-purple);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.textavatar{
    font-size: 10px;
    opacity: 0.8;
    text-decoration: solid underline;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    font-size: 18px;
    padding: 5px 10px;
}